{% include 'header.html' %}

<!-- Membres
 ANDRIANIRINA Diane
 DELAR Emmanoé
 SADOURI Massinissa -->

<form method="post">
	<label> Veuiller saisir un mot clé en majuscule : </label>
  <p><input type="text" name="recherche" /></p>



	<script language="JavaScript" type="text/javascript" src="./static/js/jquery-1.2.6.min.js"></script>
	<script language="JavaScript" type="text/javascript" src="./static/js/jquery-ui-personalized-1.5.2.packed.js"></script>
	<script language="JavaScript" type="text/javascript" src="./static/js/sprinkle.js"></script>

</form>
{% include 'footer.html' %}
