{% include 'header.html' %}

<!-- Membres
 ANDRIANIRINA Diane
 DELAR Emmanoé
 SADOURI Massinissa -->

    <!-- main page text canvevas -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12 mx-auto">
          <style>
            canvas {
              position: absolute;
              left: 0;
              right: 0;
              margin:auto;
            }
          </style>
        <canvas id="myCanvas" width="500" height="200"
          style="border:1px solid #000000;">

          <script>
            var c = document.getElementById("myCanvas");
            var ctx = c.getContext("2d");
            ctx.font = "bold 15px Arial";
            ctx.fillText("Bienvenue",10,40);
            ctx.font = "15px Arial";
            ctx.fillText("Ce site permet aux utilisateurs de questioner notre base ",10,70);
            ctx.fillText("de donnée (Neo4j) contenant de nombreuses informations",10,100);
            ctx.fillText("sur la récente affaire des Panama Papers.   ",10,130);
            ctx.fillText("Explorez nos fonctionnalités !",10,160);
          </script>
        </canvas>
      </div>
    </div>
  </body>
  {% include 'footer.html' %}
</html>
