<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> Panama Papers Leaks </title>
  <link href="{{ url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet"/>
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/buildingicon.png')}}">
</head>

{% include 'header.html' %}

<!DOCTYPE html>
<meta charset="utf-8">
<style> /* set the CSS */

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

</style>
<body>

<!-- load the d3.js library -->
<script src="https://d3js.org/d3.v4.min.js"></script>
<script>

// set the dimensions and margins of the graph
var margin = {top: 20, right: 20, bottom: 30, left: 50},
    width = 960 - margin.left - margin.right,
    height = 500 - margin.top - margin.bottom;

// append the svg obgect to the body of the page
// appends a 'group' element to 'svg'
// moves the 'group' element to the top left margin
var svg = d3.select("body").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform",
          "translate(" + margin.left + "," + margin.top + ")");

          console.log(height)

// parse the date / time
var parseTime = d3.timeParse("%d-%m-%Y");
// set the ranges
var x = d3.scaleTime().range([0, width]);
var y = d3.scaleLinear().range([height, 0]);

var xScale = d3.scaleOrdinal().range([50, 890]);

var yScale = d3.scaleLinear()
  .range([450, 0]);

// define the line
var valueline = d3.line()
    .x(function(d) { return x(d.realisationDate); })
    .y(function(d) { return y(d.result); })


// Get the data
d3.json('static/bdd.json', function(error, data) {
  if (error) throw error;

  // extract the x labels for the axis and scale domain
  var xLabels = data.map(function (d) {return d.realisationDate; })

  // format the data
  data.forEach(function(d) {
      d.realisationDate = parseTime(d.realisationDate);
      d.result = +d.result;
  });

  console.log(data);
  // get the x and y values for least squares
  var xSeries = d3.range(1, xLabels.length + 1);
  var ySeries = data.map(function(d) { return parseFloat(d.result); });

  var leastSquaresCoeff = leastSquares(xSeries, ySeries);
  // apply the reults of the least squares regression
  var x1 = xLabels[0];
  console.log("x1 = "+x1)

  var y1 = leastSquaresCoeff[0] + leastSquaresCoeff[1];
  console.log("y1 = "+y1)

  var x2 = xLabels[xLabels.length - 1];
  console.log("x2 = "+x2)

  var y2 = leastSquaresCoeff[0] * xSeries.length + leastSquaresCoeff[1];
  console.log("y2 = "+y2)

  var trendData = [[x1,y1,x2,y2]];

  var trendline = svg.selectAll(".trendline")
    .data(trendData);

  trendline.enter()
    .append("line")
    .attr("class", "trendline")
    .attr("x1", function(d) { console.log(yScale(d[1])); return xScale(d[0]); })
		.attr("y1", function(d) { return yScale(d[1]); })
		.attr("x2", function(d) { return xScale(d[2]); })
		.attr("y2", function(d) { return yScale(d[3]); })
    .attr("stroke", "green")
    .attr("stroke-width", 1)

  // Scale the range of the data
  x.domain(d3.extent(data, function(d) { return d.realisationDate; }));
  y.domain([0.992208997414502, d3.max(data, function(d) { return d.result; })]);

  console.log(data)
  // Add the valueline path.
  svg.append("path")
      .data([data])
      .attr("class", "line")
      .attr("d", valueline);

  // Add the X Axis
  svg.append("g")
      .attr("transform", "translate(0," + height + ")")
      .call(d3.axisBottom(x));

  // Add the Y Axis
  svg.append("g")
      .call(d3.axisLeft(y));

});

// returns slope, intercept and r-square of the line
function leastSquares(xSeries, ySeries) {
  var reduceSumFunc = function(prev, cur) { return prev + cur; };

  var xBar = xSeries.reduce(reduceSumFunc) * 1.0 / xSeries.length;
  var yBar = ySeries.reduce(reduceSumFunc) * 1.0 / ySeries.length;

  var ssXX = xSeries.map(function(d) { return Math.pow(d - xBar, 2); })
    .reduce(reduceSumFunc);

  var ssYY = ySeries.map(function(d) { return Math.pow(d - yBar, 2); })
    .reduce(reduceSumFunc);

  var ssXY = xSeries.map(function(d, i) { return (d - xBar) * (ySeries[i] - yBar); })
    .reduce(reduceSumFunc);

  var slope = ssXY / ssXX;
  var intercept = yBar - (xBar * slope);
  var rSquare = Math.pow(ssXY, 2) / (ssXX * ssYY);

  return [slope, intercept, rSquare];
}

</script>
</body>
