<!-- main page image and title -->
<div class="container-fluid">
  <div class="row" style="background:rgb(242, 255, 255);">
    <div class="col-lg-3 col-md-3 col-xs-3">
      <a href="/">
        <img  src="{{ url_for('static', filename='images/logoppl.png')}}" style="width: 50%" />
      </a>
    </div>
    <div class=" col-lg-6 col-md-6 col-xs-6" style="text-align: center; vertical-align: middle;"> 
      <h1><strong> Panama Papers Leaks</strong></h1>. powered by Neo4j
    </div>
  </div>
</div>

<!-- main page navbar -->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand"></a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/"><b>Home</b></a></li>
      <li><a href="/vols"><b>Afficher la liste des pays</b></a></li>
      <li><a href="/search"><b>Rechercher</b></a></li>
      <li><a href="/chuwebapp"><b>Chuwebapp</b></a></li>
    </ul>
  </div>
</nav>
      