<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="{{ url_for('static', filename='bootstrap.min.css')}}" rel="stylesheet"/>
</body>

</head>
<body>
 

    <div class="row" style="border:none; background:white; height:210px;">
		<div class="col-xs-6">
			<img src="{{ url_for('static', filename='images/mainlogo.png')}}" style="height:200px; margin-left:-15px;" />
		</div>
		<div class="col-xs-6" style=" margin-top: 60px;">  
			<h1><strong> Base de donnée aérienne</strong>.Neo4j</h1>
			
		</div>
	</div>

	<nav class="navbar navbar-inverse">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand">BDA</a>
	    </div>
	    <ul class="nav navbar-nav">
	      <li class="active"><a href="/">Home</a></li>
	      <li><a href="/vols">Afficher la liste des villes</a></li>
	      <li><a href="/search">Rechercher</a></li>
	    </ul>
	  </div>
	</nav>

	<div class="container">
          {%block content %} <h2> Ce site met en place un serveur Flask permettant aux utilisateurs de questioner les données décrivant les lignes aériennes (quels vols selon leur fréquentation, la distance parcourue, et pleins d'autres fonctionnalités à découvrir dans le menu déroulant à venir).</h2>

        {% endblock %}
    </div>



</body>
</html>
