<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> Lignes aeriennes </title>
  <link href="{{ url_for('static', filename='bootstrap.min.css')}}" rel="stylesheet"/>
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/plane.ico')}}">
</head>

{% include 'header.html' %}

<form method="post" action="">
	<label>Avoir les informations sur le vol : </label>

    <select id="depart" name="depart">
      <option>ville de départ</option>
    </select>	
	  <!--<option value="BORDEAUX">Bordeaux</option>
	  <option value="PARIS **">Paris</option>
	  <option value="CHICAGO **">Chicago</option>
	</select> -->

	<select id="destination" name="destination">
      <option>ville de destination</option>		
	</select>  
	  <!--<option value="BORDEAUX">Bordeaux</option>
	  <option value="PARIS **">Paris</option>
	  <option value="CHICAGO **">Chicago</option>
	</select> -->
<script type="text/javascript">

	//var langArray = [
    //{value: "val1", text: "text 1"},
    //{value: "val2", text: "text 2"}
	//];

	var select = document.getElementById('depart'),
	    option,
	    i = 0,
	    il = langArray.length;


	for (; i < il; i += 1) {
	    option = document.createElement('option');
	    option.setAttribute('value', langArray[i]);
	    //option.appendChild(document.createTextNode(langArray[i].text));
	    select.appendChild(option);
	}

</script>

	<input type="submit" value="chercher" style="font-size:11px;" /">
</form>

