<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> Lignes aeriennes </title>
  <link href="{{ url_for('static', filename='bootstrap.min.css')}}" rel="stylesheet"/>
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/plane.ico')}}">
</head>

{% include 'header.html' %}

<form method="post" action="">
	<label>Avoir les informations sur le vol : </label>

    <select id="depart" name="depart">
      <option>ville de départ</option>
      <ul>
	    {% for pays in langDepArray %}
	        <option value="{{ pays }}"> {{ pays | replace("*","")}}</option>
	    {% endfor %}
	</ul>
    </select>	
	  <!--<option value="BORDEAUX">Bordeaux</option>
	  <option value="PARIS **">Paris</option>
	  <option value="CHICAGO **">Chicago</option>
	</select> -->

	<select id="destination" name="destination">
      <option>ville de destination</option>
      <ul>
	    {% for pays in langArrArray %}
	        <option value="{{ pays }}"> {{ pays | replace("*","")}}</option>
	    {% endfor %}
	</ul>		
	</select>  
	  <!--<option value="BORDEAUX">Bordeaux</option>
	  <option value="PARIS **">Paris</option>
	  <option value="CHICAGO **">Chicago</option>
	</select> -->

	<input type="submit" value="chercher" style="font-size:11px;" >
</form>

