<!-- main page image and title -->
<div class="container-fluid">
  <div class="row" style="background:rgb(242, 255, 255);">
    <div class="col-xs-3">
      <img src="{{ url_for('static', filename='images/mainlogo.png')}}" style="width: 100%" />
    </div>
    <div class=" col-xs-6 " style="text-align: center; vertical-align: middle;"> 
      <h1><strong> Base de donnée aérienne</strong>.Neo4j</h1>
    </div>
  </div>
</div>

<!-- main page navbar -->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand"></a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/"><b>Home</b></a></li>
      <li><a href="/vols"><b>Afficher la liste des villes</b></a></li>
      <li><a href="/search"><b>Rechercher</b></a></li>
    </ul>
  </div>
</nav>
      